
body {
  color: #40514E;
  margin-right: 50px;
  margin-left: 50px;
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50px;
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  font-size: 10px;
}
li {
  float: right;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none
}
li img {
  display: block;
  padding: 0px 0px;
  text-decoration: none;

}
.sc {
  display: block;
  color: black;
  font-size: 10px;
  text-align: left;
  padding: 0px 0px;
  text-decoration: none
}
li a:hover:not(.active){
  background-color: #eaf6f6;
}
.Recent_activity {
  display: flex;
}
.Recent_activity > div {
  margin: 30px;
  padding: 5px;
}
.Card1a {
  top: 144px;
  left: 32px;
  width: 443px;
  height: 292px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}
.Card1b {
  top: 144px;
  left: 498px;
  width: 443px;
  height: 292px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}
.Card1c {
  top: 144px;
  left: 965px;
  width: 443px;
  height: 292px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
  text-decoration: none;
}
h2 {

  color: #030303;
  font-size: 20px;
  font-family: "Lexend Deca";
  font-weight: 600;
  line-height: 28px;
}
h1 {
  color: #030303;
  font-size: 24px;
  font-family: "Lexend Deca";
  font-weight: 600;
  line-height: 32px;
}
p {
 color: #030303;
 font-size: 16px;
 font-family: "Lexend Deca";
 line-height: 24px;
}



.BtnPr {
  cursor: pointer;
  top: 212px;
  left: 989px;
  width: 395px;
  height: 48px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #5664f5;
  color: #ffffff;
  font-size: 16px;
  font-family: "Lexend Deca";
  font-weight: 600;
  line-height: 24px;
  outline: none;
  text-align: center;
  text-decoration: none;
}

.BtnPr:hover  {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
  background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
  background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
  background-image: -o-linear-gradient(top, #d93434, #b82b2b);
  background-image: linear-gradient(to bottom, #d93434, #b82b2b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 1.75em;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 0.625em 1.25em 0.625em 1.25em;
  text-decoration: none;
}

.btnA {
  cursor: pointer;
  top: 276px;
  left: 989px;
  width: 395px;
  height: 48px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #3b5998;
  color: #ffffff;
  font-size: 16px;
  font-family: "Lexend Deca";
  font-weight: 600;
  line-height: 24px;
  outline: none;
  text-align: center;
  text-decoration: none;
}
.btnA:hover {
  background: #3cfcec;
  text-decoration: none;
}

.btnPe {
  cursor: pointer;
  top: 340px;
  left: 989px;
  width: 395px;
  height: 48px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #db4437;
  color: #ffffff;
  font-size: 16px;
  font-family: "Lexend Deca";
  font-weight: 600;
  line-height: 24px;
  outline: none;
  text-align: center;
  text-decoration: none;
}
.btnPe:hover {
  background: #3cfcec;
  text-decoration: none;
}
.Deadlines {
  display: flex;
}
.Deadlines > div {
  margin: 30px;
  padding: 5px;
}
.Card1d {
  top: 460px;
 left: 32px;
 width: 676px;
 height: 180px;
 background-color: #ffffff;
 border-radius: 8px;
 box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}
.Card1e {
  top: 460px;
  left: 732px;
  width: 676px;
  height: 180px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}
.Notification {
  display: flex;
}
.Notification > div {
  margin: 30px;
  padding: 5px;
}
.Card1f {
  top: 660px;
 left: 32px;
 width: 1376px;
 height: 180px;
 background-color: #ffffff;
 border-radius: 8px;
 box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}
.btn_nav {
  background: #f44336;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 0.5em;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 0.3125em 0.625em 0.3125em 0.625em;
  text-decoration: none;
}

.btn_nav:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.header {
  padding: 5px 0 5px;
  height: 120px;
  margin-bottom: 50px;
  background-color: #f0f1ff;
  border-bottom: 1px solid #e5e7eb;
  box-sizing: border-box;
  box-shadow: 2px -2px 10px rgba(3,3,3,0.1);
}
