

.dashboard-welcome {
  font-size: 1.2em;
  font-weight: 600;
  color: #001441;
}
.dashboard {
  background-color: #FFF;
  padding-block: 2em;
 
}
.recent_activity {
  row-gap: 1em;
  padding-block: 2em;
  flex-direction: column;
}

.Deadlines {
  row-gap: 1em;
  padding-block: 2em;
  flex-direction: column;
}
.Notification {
  padding-block: 2em;

}

@media only screen and (min-width: 65em){
  
  .dashboard {
    background-color: #FFF;
    padding-block: 2em;
   
  }
  .recent_activity {
    column-gap: 1em;
    padding-block: 2em;
    flex-direction: row;
  }
  
  .Deadlines {
    column-gap: 1em;
    padding-block: 2em;
    flex-direction: row;
  }
  .Notification {
    padding-block: 2em;
  
  }
  
}
