body {
  position: relative;
  overflow-x: hidden;
}
.header {
  padding-block: 1em;
  background-color: #f0f1ff;
  border-bottom: 0.0625em solid #e5e7eb;
  box-shadow: 0.125em -0.125em 0.625em rgba(3,3,3,0.1);
  width: 100%;
  overflow: hidden;
  
}

.header_wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}
.logo {
  align-items: center;
}

.m-menu-img {
  width: 35px;
  height: 35px;
}

nav a {
  display: block;
}
.menu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  box-shadow: 2px 2px 10px 2px rgba(3, 3, 3, 0.3);
  background-color: #f0f1ff;
  padding-inline: 1em;
  padding-block: 2em;
  transform: translateX(100%);
  transition: transform 300ms ease-in;
  z-index: 90;
}
.open-menu {
  transform: translateX(0);
}
.m-menu {
  padding-top: 2em;
}
.m-menu > * {
  margin-bottom: 2em;
}

.m-menu p>a {
  text-decoration-line: none;
}

.m-menu > a  button {
  width: 100%;
}
.home-body {
  overflow: hidden;
}
.promo-banner {
  background-color: #3498db;
  padding-block: 1em;
  padding-inline: 1em;
  width: 100%;
  color: #FFF;
  text-align: center;
  position: relative;
}
.promo-banner a {
  color: #fff !important;
}
.close-banner {
  position: absolute;
  top: 5%;
  right: 2%;
  cursor: pointer;
}
.intro-section {
  padding-top: 1em;
  text-align: center;
}
.intro {
  text-align: center;
}
.intro-section__cta_link {
  margin-top: 2em;
  display: block;
}

.Unique_Features {
  flex-direction: column;
  row-gap: 2em;
  
}

.card {
  padding-inline: 1em;
  padding-block: 2em;
  background-color: #f0f1ff;
  border-radius: 0.5em;
  box-shadow: 0em 0.25em 0.75em rgba(0,0,0,0.25);
  text-align: center;
}
.card h2 {
  margin-bottom: 1em;
}
.SuccessS {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 2em;
}

.Success_Stories {
  flex-direction: column;
  row-gap: 2em;
}
.card2 {
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0em 0.25em 0.75em rgba(0,0,0,0.25);
  height: 300px;
}
.card2 .Image {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 0.5em;
}
.card2 p {
  margin-top: 1em;
  text-align: center;
  width: 90%;
  margin-inline: auto;
}


.key_Benefits {
  flex-direction: column;
  row-gap: 2em;
  margin-top: 2em;
}

.key_Benefits .card {
  background-color: #8f98ff !important;
  color: #f1f1f1;
}

.KeyB {
  text-align: center;
  margin-top: 5em;
}

.UniqueF {
  margin-top: 6.25em;
  text-align: center;
  margin-bottom: 2em;
}
.copyright {
  text-align: center;
}
.footer {
  padding: 1.25em 0 1.25em;
  background-color: #f0f1ff;
  border-top: 0.125em solid #e5e7eb;
  margin-top: 5em;
}
.footer-menu {
  margin-top: 1.5em;
}
.footer-menu a {
  display: inline-block;
  margin-left: 1em;
  text-decoration-line: none;
}

@media only screen and (min-width: 65em){
  .header {
    padding-block: .5em;
  }
  .menu {
    transform: translateX(0);
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
  }
  .m-menu {
    padding-top: 0;
    display: flex;
    align-items: center;
    column-gap: 2.5em;
  }
  .m-menu > * {
    margin-bottom: 0;
  }
  
  .m-menu > a  button {
    width: auto;
  }
  .m-menu-img {
    display: none;
  }

  .home-body {
    /* background-color: #cecece; */
  }
  .promo-banner {
    background-color: #3498db;
    padding-block: 1em;
    padding-inline: 1em;
    width: 100%;
    color: #FFF;
    text-align: center;
    position: relative;
  }
  .promo-banner a {
    color: #fff !important;
  }
  .close-banner {
    position: absolute;
    top: 5%;
    right: 2%;
    cursor: pointer;
  }
  .btn-outline-sp {
      border: 2px solid var(--primary-color) !important;
      color: black !important;
      background-color: transparent !important;
  }
  .intro-section {
    display: grid;
    justify-content: center;
  }
  .intro-section p {
    width: 60%;
    text-align: center;
    margin-block: 2em;
    justify-self: center;
    line-height: 2 !important;
    
  }
  .Unique_Features {
      column-gap: 2em;  
      margin-top: 2em; 
      flex-direction: row;
  }

  .SuccessS {
    text-align: center;
    margin-top: 10.5em;
    margin-bottom: 2em;
  }

  .Success_Stories {
    justify-content: space-between;
    column-gap: 2em;
    flex-direction: row;
  }
  .card2 {
    flex: 1 1 100%;
    height: 400px;
  }
  .card2 .Image {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 0.5em;
  }

  .card2 p {
    margin-top: 1em;
    text-align: center;
    width: 90%;
    margin-inline: auto;
  }
  .KeyB {
    margin-top: 10.5em;
  }
  .key_Benefits {
    column-gap: 2em;
    
    flex-direction: row;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer-menu {
    margin-top: 0;
  }
  .footer-menu a {
    display: inline-block;
    margin-left: 1em;
    text-decoration-line: none;
  }
}
