@media only screen and (max-width: 768px){
  body {
    display: inherit;
  }
}

body {
  color: #40514E;
  margin-left: 30px;
  margin-right: 50px;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50px;
  font-style: normal;
}
.header {
  top: 0px;
  left: 0px;
  margin-right: 120px;
  width: 1300px;
  height: 72px;
  background-color: #f0f1ff;
  box-shadow: 2px -2px 10px rgba(3,3,3,0.1);
}
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  font-size: 10px;
}
li {
  float: right;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none
}
li img {
  display: block;
  padding: 0px 0px;
  text-decoration: none;

}
.sc {
  display: block;
  color: black;
  font-size: 10px;
  text-align: left;
  padding: 0px 0px;
  text-decoration: none
}
li a:hover:not(.active){
  background-color: #eaf6f6;
}

a {
  color: #11999E;
  font-family: 'Lexend', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.btn_nav {
  cursor: pointer;
  top: 16px;
  left: 1335px;
  width: 89px;
  height: 40px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #db4437;
  color: #ffffff;
  font-size: 16px;
  font-family: "Lexend Deca";
  font-weight: 600;
  line-height: 24px;
  outline: none;
}

.btn_nav:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.btn_nav1 {
  cursor: pointer;
  top: 16px;
  left: 1235px;
  width: 84px;
  height: 40px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #3b5998;
  color: #ffffff;
  font-size: 16px;
  font-family: "Lexend Deca";
  font-weight: 600;
  line-height: 24px;
  outline: none;
}

.btn_nav1:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.btn_nav2 {
  cursor: pointer;
  top: 16px;
  left: 1099px;
  width: 121px;
  height: 40px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #5664f5;
  color: #ffffff;
  font-size: 16px;
  font-family: "Lexend Deca";
  font-weight: 600;
  line-height: 24px;
  outline: none;
}

.btn_nav2:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.Personalised {
  position: relative;
  height: 100vh;
}
.div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.card1 {
  top: 72px;
  left: 0px;
  width: 300px;
  height: 756px;
  background-color: #f0f1ff;
}
.card1a {
  top: 136px;
  left: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 268px;
  height: 104px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}
.card1b {
  top: 256px;
  left: 16px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 268px;
  height: 104px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}
.card1c {
  top: 376px;
  margin-left: 10px;
  left: 16px;
  width: 268px;
  height: 104px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}
.card2 {
  top: 72px;
  margin-left: 315px;
  margin-bottom: 100px;
  margin-top: -790px;
  left: 300px;
  width: 1140px;
  height: 756px;
  background-color: #ffffff;
}
.card2a {
  top: 160px;
  left: 316px;
  width: 584px;
  height: 580px;
  background-color: #f0f1ff;
  border-radius: 8px;
}
.card2ai {
  top: 224px;
  margin-left: 20px;
  left: 332px;
  width: 550px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}
.card2b {
  top: 160px;
  margin-left: 600px;
  margin-top: -600px;
  left: 1065px;
  width: 359px;
  height: 580px;
  background-color: #f0f1ff;
  border-radius: 8px;
}
.card2bi {
  top: 224px;
  left: 1081px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 327px;
  height: 132px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}
.card2bii {
  top: 372px;
  left: 1081px;
  width: 327px;
  margin-left: 20px;
  margin-bottom: 10px;
  height: 132px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}
.card2biii {
  top: 520px;
  left: 1081px;
  margin-left: 20px;
  width: 327px;
  height: 132px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}
.button {
  cursor: pointer;
  top: 300px;
  left: 1097px;
  width: 151px;
  height: 40px;
  margin-top: 90px;
  margin-left: -150px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #5664f5;
  color: #ffffff;
  font-size: 16px;
  font-family: "Lexend Deca";
  font-weight: 600;
  line-height: 24px;
  outline: none;
}
.button:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.button2 {
  cursor: pointer;
  top: 300px;
  left: 1097px;
  width: 151px;
  height: 40px;
  margin-top: 90px;
  margin-left: -150px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #5664f5;
  color: #ffffff;
  font-size: 16px;
  font-family: "Lexend Deca";
  font-weight: 600;
  line-height: 24px;
  outline: none;
}
.button2:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.button3 {
  cursor: pointer;
  top: 300px;
  left: 1097px;
  width: 151px;
  height: 40px;
  margin-top: 90px;
  margin-left: -150px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #5664f5;
  color: #ffffff;
  font-size: 16px;
  font-family: "Lexend Deca";
  font-weight: 600;
  line-height: 24px;
  outline: none;
}
.button3:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.image {
  top: 343px;
  left: 607px;
  width: 150px;
  height: 150px;
  margin-top: 119px;
  border-radius: 9999px;
  background-image: url(./image.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.input {
  top: 553px;
  left: 348px;
  width: 470px;
  height: 52px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  background-color: #ffffff;
  color: #94a3b8;
  font-size: 14px;
  font-family: "Lexend Deca";
  line-height: 52px;
  outline: none;
}
