
#subject_tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1em;
}

.timer {
  color: green;
}
@media only screen and (min-width: 65em){
  .practice_wrapper {
    flex-direction: row-reverse;
    column-gap: .5em;
    margin-top: 1em;
    width: 98%;
    margin-inline: auto;
  }
 .practice_test {
  width: 70%;
 }
 #subject_tabs {
  flex-wrap: nowrap;
}

.question-panel {
  margin-top: 1em;
  margin-bottom: 2em;
}

.question-panel .card {
  margin-bottom: 1em;
}

.test__nav-controls {
  width: 100%;
  justify-content: space-between;
}
.navigation {
 
  width: 30%;
}
.Question {
  margin-top: 1em;
  flex-wrap: wrap;
  column-gap: .5em;
  row-gap: 1em;
}
.Qc {
  padding: .25em;
  width: 35px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 8px;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pause-test button{
  width: 100%;
  margin-top: 1em;
}
.footer {
  padding-block: .65em;
  background-color: #f0f1ff;
  text-align: center;
  margin-top: 3em;
}

}

