

@media only screen and (min-width: 65em){
  .profile-screen {
    padding-top: 2em;
  }
  .perf-analysis {
    column-gap: 1em;
    padding-block: 2em;
  }
  .perf-analysis .card .card-content__demo_img {
   
    width: 60%;
    margin-inline: auto;
  }
  .card-content__results {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 80%;
  
  }
  .card-content__results p {
    font-size: 2.5em;
    font-weight: 600;
    align-self: center;
    color: green;
  }

  .comparison-line-graph {
   
    padding-block: 2em;
  }

  .comparison-line-graph .card .card-content__demo_img {
    width: 30%;
    margin-inline: auto;
  }

  .strength-weakness {
    padding-block: 2em;
  }
  .revision {
    padding-block: 2em;
    max-height: 500px;
    margin-bottom: 4em;
  }
  .revision .card {
    max-height: 500px;
    overflow-y: auto;
    padding-block: 2em;
  }
  .q_n_a {
    margin-bottom: 1em;
    border: .5px solid lightgray;
    padding-inline: .5em;
    padding-block: .5em;
    border-radius: 8px;
    background-color: #f0f1ff;
  }
  .question {
    align-items: center;
    
    justify-content: space-between;
    cursor: pointer;
  }
  .question img {
    width: 35px;
    height: 35px;
  }
  .answer {
    display: block;
    width: 98%;
    margin-inline: auto;
    background-color: #fff;
    padding-inline: .5em;
    padding-block: .75em;
    border-radius: 8px;
  }
  .answer p {
    margin-bottom: .65em;
  }

  .ai-recommendation {
    padding-block: 2em;
    margin-block: 2em;
    align-items: center;
    justify-content: space-between;
  }
  .ai-recommendation > div .card-content p {
    margin-bottom: 1em;
  }
  .butn {
    display: grid;
    margin-bottom: 3em;
  }
  .butn a {
    display: block;
    justify-self: flex-end;
  }
  .footer {
    background-color: #f0f1ff;
    text-align: center;
    padding-block: 1.5em;
  }
}
