
.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #ffffff;
  fill: #ffffff;
}


.registration__header {
  padding-block: 1.75em;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 2px -2px 10px rgba(3,3,3,0.5);
}
.registration__header > div {
  justify-content: space-between;
  align-items: center;
}

.btn_nav {
 
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  padding: .25em 1.5em;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 500ms ease;
}

.btn_nav:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  
}

.form {
  margin-top: 4em;
}

.form__title {
  text-align: center;
}
.form__title::after {
  content: '';
  display: block;
  margin-top: 2em;
  width: 100%;
  background-color: var(--bg-color-highlight);
  height: 5px;
  border-radius: 2.5px;
}

.form_content {
 width: 90%;
 margin-inline: auto;

}


.form_content form {
  margin-top: 3em;
  display: grid;
}


.signup_btn {
  width: 80%;
  justify-self: center;
  padding: 1em 2em;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #5664f5;
  color: #ffffff;
}

.registration_terms {
  margin-top: 2em;
  text-align: center;
  width: 90%;
  margin-inline: auto;
}
.registration_terms p {
  margin-top: 1.5em;
}

.rdr-homepage {
  text-align: center;
  margin-top: 2em;
  
}

.rdr-homepage a {
  
  text-decoration-line: none;
}

@media only screen and (min-width: 65em ){
  .form__wrapper {
    width: 40%;
    margin-inline: auto;  
    box-shadow: 1px 1px 5px 1px rgba(3, 3, 3, 0.3);
    border-radius: 10px;
    padding-block: 2em
  }
  .form__wrapper .form_content {
    width: 92%;
  }
  .registration__header {
    padding-block: 1em;
  }
  .signup_btn {
    width: 100%;
  }
}

