@media only screen and (max-width: 768px){
  body {
    display: inherit;
  }
}

body {
  color: #40514E;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50px;
  font-style: normal;
}
ul {
  list-style-type: none;

  padding-right: 50px;
  overflow: hidden;
  font-size: 10px;
}
li a {
  float: right;
}
li a {
  display: flex;
  color: black;
  text-align: center;
  padding-right: 50px;
  text-decoration: none
}
li img {
  display: block;
  padding: 0px 0px;
  text-decoration: none;

}
.sc {
  display: block;
  color: black;
  font-size: 10px;
  text-align: left;
  padding: 0px 0px;
  text-decoration: none
}
li a:hover:not(.active){
  background-color: #eaf6f6;
}

a {
  color: #11999E;
  font-family: 'Lexend', sans-serif;
  margin: 10px 50px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}

.Subject {
  display: flex;
}
.Subject > div {
  margin: 100px;
  padding: 0px;
}
.subject2 {
  display: flex;
}
.subject2 > div {
  margin: 100px;
  padding: 0px;
}
.Card1g {
  top: 232px;
  left: 320px;
  width: 384px;
  height: 60px;
  background-color: #d0d3f5;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}
.Card1h {
  cursor: pointer;
  top: 100px;
  left: 100px;
  width: 384px;
  height: 50px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  background-color: #ffffff;
  color: #94a3b8;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 49px;
  outline: none;
}
.Card1i {
  cursor: pointer;
  top: 324px;
  left: 736px;
  width: 384px;
  height: 49px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  background-color: #ffffff;
  color: #94a3b8;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 49px;
  outline: none;
}
.dropdown {
  cursor: pointer;
  top: 232px;
  left: 736px;
  width: 384px;
  height: 49px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  background-color: #ffffff;
  color: #94a3b8;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 49px;
  outline: none;
}
.book {
  color: #5664f5;
  fill: #5664f5;
  font-size: 18px;
  top: 248px;
  left: 336px;
  width: 18px;
  height: 28px;
}
.text {
  color: #030303;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 28px;
}
.Middle_Container {
  color: #40514E;
  margin-right: 50px;
  margin-left: 50px;
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50px;
  font-style: normal;
}
.Time {
  display: flex;
}
.Time > div {
  margin: 50px;
  padding: 0px;
}
.card1j {
  top: 477px;
  left: 320px;
  width: 384px;
  height: 52px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  background-color: #ffffff;
  color: #94a3b8;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 52px;
  outline: none;
}
.Card1k {
  top: 477px;
  left: 736px;
  width: 384px;
  height: 52px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  background-color: #ffffff;
  color: #94a3b8;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 52px;
  outline: none;
}
.btn_nav {
  background: #f44336;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn_nav:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.SBcontent {
  color: #40514E;
  margin-right: 100px;
  margin-left: 200px;
  margin-bottom: 300px;
  display: center;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50px;
  font-style: normal;
}
