/* General Mobile Responsiveness */
@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    text-align: center;
    font-size: 1em;
  }

  .header {
    height: auto;
    padding: 1em;
    text-align: center;
  }

  ul {
    padding: 0;
  }

  li {
    display: block;
    text-align: center;
    margin: 0.5em 0;
  }

  li img {
    margin: 0 auto;
  }

  .btn_nav {
    font-size: 1em;
    padding: 0.5em 1em;
    width: 100%;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 1em 0;
  }

  .text {
    margin: 0;
  }
}

/* General Styles */
body {
  color: #40514E;
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.125em;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full height */
}

main {
  flex-grow: 1; /* Allows the content to grow and push the footer down */
}

.header {
  padding: 1em;
  background-color: #f0f1ff;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 2px -2px 10px rgba(3,3,3,0.1);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

li {
  display: inline-block;
  padding: 0 1em;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 1.125em;
}

.btn_nav {
  background: #3498db;
  border-radius: 8px;
  color: white;
  font-size: 1.25em;
  padding: 0.5em 1.25em;
  text-decoration: none;
  display: inline-block;
}

.btn_nav:hover {
  background: #30e3cb;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f1ff;
  border-top: 1px solid #e5e7eb;
  box-shadow: 2px -2px 10px rgba(3,3,3,0.1);
  padding: 1em 0;
  margin-top: auto; /* Ensures footer is at the bottom */
}

.text {
  margin: 0;
}

/* Footer for desktop */
@media only screen and (min-width: 769px) {
  .footer {
    justify-content: flex-start;
    padding-left: 2em;
  }

  .text {
    margin-left: auto;
  }
}
