body {
  color: #40514E;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
}

.header {
  width: 100%;
  height: 4.5em;
  background-color: #f0f1ff;
  box-shadow: 0.125em -0.125em 0.625em rgba(3, 3, 3, 0.1);
  margin-bottom: 2em;
}

.footer {
  top: 96em;
  left: 0em;
  width: 100%;
  margin-top: 6.25em;
  height: 3.5em;
  background-color: #f0f1ff;
  border-top: 0.0625em solid #e5e7eb;
  box-sizing: border-box;
  box-shadow: 0.125em -0.125em 0.625em rgba(3,3,3,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Horizontally center text */
}


.receipt {
  width: 80%;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 0.5em;
  margin: 2em auto;
  padding: 2em;
  box-shadow: 0em 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

.card {
  width: 4em;
  height: 4em;
  margin: 2em auto;
  background-color: #5664f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 2em;
  height: 2em;
}

h2, h3, p {
  text-align: left;
  margin-left: 1.25em;
}

.welcome {
  text-align: center;
  margin: 1em 0;
}

a.btn1, a.btn2, a.btn3, a.btnA {
  display: inline-block;
  margin: 1em;
  padding: 0.75em 1.5em;
  border-radius: 0.5em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

a.btn1 {
  background-color: #5664f5;
}

a.btn2 {
  background-color: #db4437;
}

a.btn3 {
  background-color: #3b5998;
}

a.btnA {
  background-color: #11999E;
}

a:hover {
  background-color: #30e3cb;
}
