@media only screen and (max-width: 768px){
  body {
    display: inherit;
  }
}

body {
  color: #40514E;
  margin-right: 0em;
  margin-left: 0em;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 3.125em;
  font-style: normal;
}
ul {
  list-style-type: none;

  padding-right: 3.125em;
  overflow: hidden;
  font-size: 0.625em;
}
li a {
  float: right;
}
li a {
  display: flex;
  color: black;
  text-align: center;
  padding-right: 3.125em;
  text-decoration: none
}
li img {
  display: block;
  padding: 0em 0em;
  text-decoration: none;

}
.sc {
  display: block;
  color: black;
  font-size: 0.625em;
  text-align: left;
  padding: 0em 0em;
  text-decoration: none
}
li a:hover:not(.active){
  background-color: #eaf6f6;
}

a {
  color: #11999E;
  font-family: 'Lexend', sans-serif;
  margin: 0.625em 3.125em;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}

.Subject {
  display: flex;
}
.Subject > div {
  margin: 6.25em;
  padding: 0em;
}
.subject2 {
  display: flex;
}
.subject2 > div {
  margin: 6.25em;
  padding: 0em;
}
.Card1g {
  top: 14.5em;
  left: 20em;
  width: 24em;
  height: 3.75em;
  background-color: #d0d3f5;
  border-radius: 0.5em;
  box-shadow: 0em 0.25em 0.75em rgba(0,0,0,0.25);
}
.Card1h {
  cursor: pointer;
  top: 6.25em;
  left: 6.25em;
  width: 24em;
  height: 3.125em;
  padding: 0em 0.5em;
  border: 0;
  box-sizing: border-box;
  border-radius: 0.5em;
  box-shadow: 0em 0.25em 0.75em rgba(0,0,0,0.1);
  background-color: #ffffff;
  color: #94a3b8;
  font-size: 0.875em;
  font-family: "Roboto";
  line-height: 3.0625em;
  outline: none;
}
.Card1i {
  cursor: pointer;
  top: 20.25em;
  left: 46em;
  width: 24em;
  height: 3.0625em;
  padding: 0em 0.5em;
  border: 0;
  box-sizing: border-box;
  border-radius: 0.5em;
  box-shadow: 0em 0.25em 0.75em rgba(0,0,0,0.1);
  background-color: #ffffff;
  color: #94a3b8;
  font-size: 0.875em;
  font-family: "Roboto";
  line-height: 3.0625em;
  outline: none;
}
.dropdown {
  cursor: pointer;
  top: 14.5em;
  left: 46em;
  width: 24em;
  height: 3.0625em;
  padding: 0em 0.5em;
  border: 0;
  box-sizing: border-box;
  border-radius: 0.5em;
  box-shadow: 0em 0.25em 0.75em rgba(0,0,0,0.1);
  background-color: #ffffff;
  color: #94a3b8;
  font-size: 0.875em;
  font-family: "Roboto";
  line-height: 0.0625;
  outline: none;
}
.book {
  color: #5664f5;
  fill: #5664f5;
  font-size: 1.125em;
  top: 248px;
  left: 21em;
  width: 1.125em;
  height: 1.75em;
}
.text {
  color: #030303;
  font-size: 1.25em;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 1.75em;
}
.Middle_Container {
  color: #40514E;
  margin-right: 3.125em;
  margin-left: 3.125em;
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 3.125em;
  font-style: normal;
}
.Time {
  display: flex;
}
.Time > div {
  margin: 3.125em;
  padding: 0em;
}
.card1j {
  top: 29.8125em;
  left: 20em;
  width: 24em;
  height: 3.25em;
  padding: 0em 0.5em;
  border: 0;
  box-sizing: border-box;
  border-radius: 0.5em;
  box-shadow: 0em 0.25em 0.75em rgba(0,0,0,0.1);
  background-color: #ffffff;
  color: #94a3b8;
  font-size: 0.875em;
  font-family: "Roboto";
  line-height: 3.25em;
  outline: none;
}
.Card1k {
  top: 29.8125em;
  left: 46em;
  width: 24em;
  height: 3.25em;
  padding: 0px 0.5em;
  border: 0;
  box-sizing: border-box;
  border-radius: 0.5em;
  box-shadow: 0px 0.25em 0.75em rgba(0,0,0,0.1);
  background-color: #ffffff;
  color: #94a3b8;
  font-size: 0.875em;
  font-family: "Roboto";
  line-height: 3.25em;
  outline: none;
}
.btn_nav {
  background: #f44336;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 0.5em;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.25em;
  padding: 0.3125em 0.625em 0.3125em 0.625em;
  text-decoration: none;
}

.btn_nav:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.SBcontent {
  color: #40514E;
  margin-right: 6.25em;
  margin-left: 12.5em;
  margin-bottom: 18.75em;
  display: center;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 3.125em;
  font-style: normal;
}
